/* font-family boilerplate choices: 
(pick one of the headline fonts and remove remaining when finalizing styles)
    font-family: 'Snowburst One', cursive;
    font-family: 'Cabin Sketch', Helvetica, Arial, sans-serif;
    font-family: 'Limelight', Helvetica, Arial, sans-serif;

    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
*/
